@import 'theme';

#table-light {
  .state-annule {
    background-color: $color-error;
    }
  .state-option {
    background-color: $color2;
  }
  .state-confirme {
    background-color: $color-success;
  }
}
