@import 'theme';
@import 'fonts';
/* Permet de cible la balise qui porte le component ici app-header */
:host {
  width: 100%;
}
p {
  text-align: center;
  font-size: 1.2rem;
  color: $color3;
}
img {
  width: 60px;
  height: 60px;
}
div {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
