<header class="fixed-top">
  <fa-icon [icon]="faBars" (click)="toggle()"></fa-icon>
  <!-- <app-header></app-header> -->
  <ng-content select=".header"></ng-content>
</header>
<main [class]="{'close-aside' : !open}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <!-- <app-nav></app-nav>!-->
        <ng-content select='.nav'></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      <!-- <router-outlet></router-outlet> -->
      <ng-content select=".content"></ng-content>
    </div>
    <footer>
      <!-- <app-footer></app-footer> -->
      <ng-content select=".footer"></ng-content>
    </footer>
  </div>
</main>
